@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
a {
	text-decoration: none;
}

.card {
	font-family: sans-serif;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	border-radius: 10px;
	background-color: #ffff;
	padding: 1.8rem;
	box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

.title {
	// text-align: center;
	// font-weight: bold;
	@include text-page-header-color-talign(#323232, left);
	margin: 0;
}
.subtitle {
	@include text-section-header(#323232, left);

	font-weight: bold;
	font-size: smaller;
}
.btn-text {
	margin: 0;
}

.social-login {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.google-btn {
	background: #fff;
	border: solid 2px rgb(245 239 239);
	border-radius: 8px;
	font-weight: bold;
	display: flex;
	padding: 10px 10px;
	flex: auto;
	align-items: center;
	gap: 5px;
	justify-content: center;
}
.fb-btn {
	background: #fff;
	border: solid 2px rgb(69, 69, 185);
	border-radius: 8px;
	padding: 10px;
	display: flex;
	align-items: center;
}

.or {
	text-align: center;
	font-weight: bold;
	border-bottom: 2px solid rgb(245 239 239);
	line-height: 0.1em;
	margin: 25px 0;
}
.or span {
	background: #fff;
	padding: 0 10px;
}

.email-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	& p {
		text-align: left;
	}
}
.email-login label {
	width: 100%;
	@include text-section-header(#323232, left);

	color: rgb(170 166 166);
}

input[type="text"],
input[type="password"] {
	padding: 15px 20px;
	margin-top: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	@include text-section-header($silver, left);
}

.cta-btn {
	text-align: right;
	outline: 0;
	grid-gap: 8px;
	align-items: center;
	background: 0 0;
	border: 1px solid #000;
	border-radius: 4px;
	cursor: pointer;
	display: inline-flex;
	flex-shrink: 0;
	// font-size: 16px;
	gap: 8px;
	justify-content: center;
	line-height: 1.5;
	overflow: hidden;
	padding: 4px 8px;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 0.14s ease-out;
	white-space: nowrap;
	@include text-body-copy(#323232, right);
	margin: 0.5rem 0;
	:hover {
		box-shadow: 4px 4px 0 #000;
		transform: translate(-4px, -4px);
	}
	:focus-visible {
		outline-offset: 1px;
	}
}

.forget-pass {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: block;
	@include text-section-header(#323232, left);
}
