@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
	&__wrapper {
		background-color: $plantsocial-dark-black;
		display: flex;
		justify-content: space-between;
		// width: 100%;
		position: relative;
		@include tablet {
			padding: 0 2.25rem;
		}
		@include desktop {
			padding: 0 12rem;
		}
	}
	&__icons {
		filter: invert(100%);
		height: 16px;
		margin: 0.75rem 0.5rem;
		&:hover {
			filter: invert(50%);
		}
		&__container {
			@include mobile {
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				position: absolute;
				right: 1rem;
				bottom: 0;
			}
			display: none;
		}
	}
	&--image {
		object-fit: contain;
		min-width: 100%;
		max-height: 50vh;

		@include desktop {
			height: 43vh;
		}
	}
}
